name: Build Docker image

on:
  push:
    branches:
      - main
      - 'staging/**'
    paths:
      - ".github/workflows/cd.yaml"
      - "pipelines/**/*"
      - "pyproject.toml"
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/cd_staging.yaml"
      - "pipelines/**/*"
      - "pyproject.toml"
      - "Dockerfile"

jobs:
  build-container:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.revision=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
