name: DBT Checks

on:
  pull_request:
    branches:
      - main
      - staging/*
    paths:
      - "queries/**/*.sql"
      - "queries/**/*.yml"

jobs:
  check-files:
    name: Format SQL and Parse DBT
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install sqlfmt
        run: pip install 'shandy-sqlfmt[jinjafmt]'

      - name: Get changed files
        id: files
        uses: tj-actions/changed-files@v44
        with:
          files: queries/**/*.sql

      - name: Run sqlfmt check
        if: steps.files.outputs.any_changed == 'true'
        run: sqlfmt --diff ${{ steps.files.outputs.all_changed_files }}

      - name: DBT Parse (Smoke Test)
        run: |
          uv run dbt parse --project-dir queries --profiles-dir queries --target ci
